---
import { Picture as AstroPicture, getConfiguredImageService, getImage } from "astro:assets"
import type { LocalImageServiceWithPlaceholder } from "src/imageService"
/**
 * If you want to understand this component, you'll need to look at :
 * -> src/imageService.ts
 */
const imageService = (await getConfiguredImageService()) as LocalImageServiceWithPlaceholder
const placeholderURL =
	Astro.props.src.format == "svg"
		? Astro.props.src.src // We don't support SVG placeholders yet
		: await imageService.generatePlaceholder(
				Astro.props.src.fsPath,
				Math.max(Astro.props.src.width, 600 * 2), // The width of an article multiplied by the density
				Astro.props.src.height
			)

const goodQualityURL = await getImage({
	src: Astro.props.src,
	width: Astro.props.src.width,
})

// eslint-disable-next-line @typescript-eslint/no-explicit-any
const { caption, source, className, ...props } = Astro.props as any
---

<figure class={"my-5 " + className}>
	{
		Astro.props.src.format == "svg" ? (
			<img
				{...props}
				data-zoomable
				data-zoom-src={goodQualityURL.src}
				width={Math.min(Astro.props.src.width, 600 * 2)}
				class="w-full overflow-hidden rounded"
			/>
		) : (
			<AstroPicture
				{...props}
				data-zoomable
				data-zoom-src={goodQualityURL.src}
				width={Math.min(Astro.props.src.width, 600 * 2)}
				formats={Astro.props.formats ?? ["webp"]}
				class="w-full overflow-hidden rounded"
				style={`background-size: cover;background-image: url(${placeholderURL});image-rendering:auto;`}
				onload="this.style.backgroundSize = null; this.style.backgroundImage = null; this.style.imageRendering = null; this.removeAttribute('onload');"
			/>
		)
	}
	<figcaption class="legend">
		{caption}
		{source && <a href={source}>Source</a>}
	</figcaption>
</figure>
