---
import type { HTMLTag } from "astro/types"
import { Picture as AstroPicture, getConfiguredImageService, getImage } from "astro:assets"
import type { LocalImageServiceWithPlaceholder } from "src/imageService"
/**
 * If you want to understand this component, you'll need to look at :
 * -> src/imageService.ts
 */
interface Props {
	src: any
	alt: string
	width?: number
	height?: number
	formats?: string[]
	className?: string
	markers?: Marker[]
}

interface Marker {
	key: string
	legend: string
	variant?: "primary" | "warning" | "success" | "info"
	top: number
	left: number
}

const imageService = (await getConfiguredImageService()) as LocalImageServiceWithPlaceholder

const placeholderURL =
	Astro.props.src.format === "svg"
		? Astro.props.src.src
		: await imageService.generatePlaceholder(
				Astro.props.src.fsPath,
				Math.max(Astro.props.src.width, 300 * 2), // The width of a sidenote multiplied by the density
				Astro.props.src.height
			)

const goodQualityURL = await getImage({
	src: Astro.props.src,
	width: Astro.props.src.width,
})

const { className, markers = [], ...props } = Astro.props as Props
---

<span class={"relative inline-block " + (className ?? "")}>
	{
		Astro.props.src.format === "svg" ? (
			<img
				{...props}
				data-zoomable
				data-zoom-src={goodQualityURL.src}
				width={Math.min(Astro.props.src.width, 300 * 2)}
				class="w-full overflow-hidden rounded"
			/>
		) : (
			<AstroPicture
				{...(props as any)}
				data-zoomable
				data-zoom-src={goodQualityURL.src}
				data-markers={JSON.stringify(markers)}
				width={Math.min(Astro.props.src.width, 300 * 2)}
				formats={Astro.props.formats ?? ["webp"]}
				class="w-full overflow-hidden rounded"
				style={`background-size: cover;background-image: url(${placeholderURL});image-rendering:auto;`}
				onload="this.style.backgroundSize = null; this.style.backgroundImage = null; this.style.imageRendering = null; this.removeAttribute('onload');"
			/>
		)
	}

	{
		markers.map((marker) => {
			const Component = `marker-${marker.variant ?? "primary"}` as HTMLTag
			return (
				<Component
					class="absolute"
					style={`top: ${marker.top}%; left: ${marker.left}%; font-feature-settings: 'lnum'`}
				>
					{marker.key}
				</Component>
			)
		})
	}
</span>

{
	markers.length > 0 &&
		markers.map((marker) => {
			const Component = `marker-${marker.variant ?? "primary"}` as HTMLTag
			return (
				<span>
					<Component style={`font-feature-settings: 'lnum'`}>{marker.key}</Component>
					{marker.legend}
				</span>
			)
		})
}
