---
import { getCollection } from "astro:content"
import Hero from "$components/Hero.astro"
import TagInline from "$components/inlines/TagInline.astro"
import FigImage from "$components/figures/FigImage.astro"
import Layout from "$layouts/Layout.astro"
import { formatDate } from "src/utils"
/**
 * Article page, display frontmatter informations & the content.
 */

// New "content collection" from Astro 2.0 are super duper cool,
// but can be a little tricky to understand. Read doc first ->
// https://docs.astro.build/en/guides/content-collections
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog", ({ data }) => {
    return data.draft !== true
  })
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}
const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.title} description={entry.data.abstract} img={entry.data.image}>
  <Hero title={entry.data.title} parents={["home", "blog"]}>
    <ul class="flex flex-wrap gap-4">
      {
        entry.data.tags.map((tag: string) => (
          <li>
            <TagInline tag={tag} />
          </li>
        ))
      }
    </ul>
  </Hero>
  <FigImage src={entry.data.image} alt={entry.data.image_alt} caption={entry.data.image_caption} />
  <Content />
  <p class="mb-16">- published {formatDate(entry.data.date)}</p>
</Layout>
<style is:global>
  h2 {
    @apply mb-6 mt-16 text-2xl font-bold md:text-3xl;
  }
  p + ul {
    @apply list-outside list-disc pl-6;
  }
  p + ul > li {
    @apply mb-6;
  }
</style>
