---
import { Image } from "astro:assets"
import { getCollection } from "astro:content"
import Hero from "$components/Hero.astro"
import TagInline from "$components/inlines/TagInline.astro"
import Layout from "$layouts/Layout.astro"
import { formatDate } from "src/utils"
/**
 * Article page, display frontmatter informations & the content.
 */

// New "content collection" from Astro 2.0 are super duper cool,
// but can be a little tricky to understand. Read doc first ->
// https://docs.astro.build/en/guides/content-collections
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog")
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}
const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.title}>
  <Hero title={entry.data.title} parents={["home", "blog"]}>
    <ul class="flex gap-4">
      {
        entry.data.tags.map((tag: string) => (
          <li>
            <TagInline to="">{tag}</TagInline>
          </li>
        ))
      }
    </ul>
  </Hero>
  <Image
    src={entry.data.image}
    width="1080"
    height="1080"
    class="mb-16 rounded-lg object-cover"
    alt="Cover"
  />
  <Content />
  <p class="mb-16">- published {formatDate(entry.data.date)}</p>
</Layout>
<style is:global>
  h2 {
    @apply mt-12 mb-6 text-2xl font-bold md:text-3xl;
  }
  p + ul {
    @apply list-outside list-disc pl-6;
  }
  p + ul > li {
    @apply mb-6;
  }
</style>
