---
import { getCollection } from "astro:content"
import type { Parent } from "$components/Parents.astro"
import Hero from "$components/Hero.astro"
import Layout from "$layouts/Layout.astro"
import Card from "$components/Card.astro"
/**
 * A page with all our articles.
 */

// Page title use in Hero & Metadata
const pageTitle = "All Articles"

// Page's parents
const parents: Array<Parent> = ["home"]

// Import all blog articles
// See -> https://docs.astro.build/en/guides/content-collections/#querying-collections
const allBlogEntries = await getCollection("blog", ({ data }) => {
  return data.draft !== true
})
---

<Layout title={pageTitle}>
  <Hero title={pageTitle} parents={parents}>
    <div class="flex flex-col gap-6">
      {
        allBlogEntries
          .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
          .map((blogEntry, index) => <Card article={blogEntry} index={index} />)
      }
    </div>
  </Hero>
</Layout>
