---
import Block from "./Block.astro"

/**
 * Used to present an Amazon product as a card, also a link that product.
 * [WORK IN PROGRESS]
 */
interface Props {
  id: string
  name: string
  brand: string
  img: string
  price: string
  rating: number
  ratings_total: string
}

const { id, name, brand, img, price, rating, ratings_total } = Astro.props
---

<Block image={img} to={`https://www.amazon.fr/gp/product/${id}/`}>
  <h3 class="pb-2 font-bold">{name}</h3>
  <ul class="flex flex-col gap-2">
    <li>
      <i class="fa-solid fa-building"></i>
      {brand}
    </li>
    <li>
      <i class="fa-solid fa-barcode"></i>
      {price}
    </li>
    <li>
      {[...Array(Math.round(rating))].map(() => <i class="fas fa-star" />)} ({ratings_total} reviews)
    </li>
  </ul>
</Block>
