---
import type { ImageMetadata } from "astro"
import InternalImage from "../images/InternalImage.astro"
/**
 * Used to present an something as a card, also a link to that something.
 */
interface Props {
	image?: ImageMetadata | string
	imageDark?: ImageMetadata | string
	imageAlt?: string
	imageFocusY?: number
	to: string
}

const width = 750
const height = 750
const formats = ["webp", "avif"]

const { image, imageDark, imageAlt = "", to, imageFocusY } = Astro.props
---

<a href={to} class="card">
	<div
		class="card-image"
		style={typeof imageFocusY === "number" ? `--image-focus-y: ${imageFocusY}%` : undefined}
	>
		{
			image &&
				(!imageDark ? (
					<InternalImage
						source={image}
						alt={imageAlt}
						width={width}
						height={height}
						formats={formats}
					/>
				) : (
					<>
						<InternalImage
							source={image}
							alt={imageAlt}
							width={width}
							height={height}
							formats={formats}
							class="dark:hidden"
						/>
						<InternalImage
							source={imageDark}
							alt={imageAlt}
							width={width}
							height={height}
							formats={formats}
							class="hidden dark:block"
						/>
					</>
				))
		}
	</div>
	<article>
		<slot />
	</article>
</a>
