---
import { getCollection, render, type CollectionEntry } from "astro:content"
import Layout from "$layouts/Layout.astro"
import { formatDate, isEntryPublished } from "src/utils"

import TableOfContent from "$components/TableOfContent.astro"
import FigImage from "$components/images/FigImage.astro"
/**
 * Create a page for each blog entries, display frontmatter
 * informations & the content.
 */
export async function getStaticPaths() {
	const blogEntries: CollectionEntry<"blog">[] = await getCollection("blog", ({ data }) => {
		return isEntryPublished(data.published)
	})

	return blogEntries.map((entry) => ({
		params: {
			entry: entry.id,
		},
		props: { entry },
	}))
}

const { entry } = Astro.props
const { Content, headings } = await render(entry)
---

<Layout
	title={entry.data.title}
	description={entry.data.abstract}
	img={entry.data.image ? entry.data.image.src : undefined}
>
	<section>
		<h1>{entry.data.title}</h1>
		{entry.data.display_abstract && <p set:html={entry.data.abstract} />}
		<p>
			{formatDate(entry.data.date)} —
			<a href="/">Goulven CLEC'H</a>
		</p>
	</section>

	{entry.data.display_toc && headings.length > 0 && <TableOfContent headings={headings} />}
	{
		entry.data.display_cover && (
			<FigImage
				src={entry.data.image}
				alt={entry.data.image_alt}
				caption={entry.data.image_caption}
				source={entry.data.image_source}
			/>
		)
	}

	<section id="entry">
		<Content />
	</section>
</Layout>
<style is:global>
	.frame.is-terminal .header {
		display: none;
	}

	.expressive-code {
		@apply my-5;
	}

	/* Drop cap */
	#entry > p:first-of-type::first-letter {
		/* Font size is 2.5 times the text size * 1.625 (line height) */
		/* Margin top verticaly align the drop cap with the two text lines */
		@apply float-left mr-1 mt-[3px] text-[calc(16px*1.625*2.5)] sm:text-[calc(18px*1.625*2.5)];
	}

	/* Fix for Chrome and Safari — don't ask why I need this, I'll cry */
	/* Use @supports to discriminate Firefox and olders browsers */
	@supports (initial-letter: 5) or (-webkit-initial-letter: 5) {
		#entry > p:first-of-type::first-letter {
			@apply mb-[-2rem] leading-none;
		}
	}

	/* If an entry start with a title (so it appear in the TOC)
    hide it for a better reading flow */
	#entry h2:first-child {
		@apply invisible m-0 h-0;
	}

	#entry > ul,
	#entry > ol {
		@apply list-inside;
	}

	/* I use a manicule as a list marker, in the future I'll use "indent hanging"
     but it's not supported in Chrome yet */
	#entry > ul {
		@apply my-5 list-none indent-0 md:indent-[-1.85rem];
	}

	#entry > ul > li::before {
		content: "☞";
		@apply mr-2;
	}

	#entry > ol {
		@apply mb-5;
	}

	#entry > ol > li,
	#entry > ul > li {
		@apply my-2.5 ml-0;
	}

	@media screen(sm) {
		#entry > ul,
		#entry > ol {
			@apply list-outside;
		}
	}
</style>
