---
import Layout from "$layouts/Layout.astro"
import { getCollection } from "astro:content"
import ResumeCard from "$components/resume/ResumeCard.astro"
import ReturnHome from "$components/controls/ReturnHome.astro"
import PrintButton from "$components/controls/PrintButton.astro"
import { getMyAge, getRemoteWorkYears } from "src/utils"
/**
 * Misc page with legal notice, changelog, etc.
 */
const pageTitle = "Résumé"

// get all experiences entries
const experiencesEntries = await getCollection("experiences", ({ data }) => {
	return data.is_education === false && data.is_draft !== true
})

experiencesEntries.sort((a, b) => {
	// if both have an end date, sort by end date (most recent first)
	if (a.data.end_date && b.data.end_date) {
		return b.data.end_date.getTime() - a.data.end_date.getTime()
		// if both don't have an end date, sort by start date (most recent first)
	} else if (!a.data.end_date && !b.data.end_date) {
		return b.data.start_date.getTime() - a.data.start_date.getTime()
		// if one has an end date and the other doesn't
	} else {
		return a.data.end_date ? 1 : -1
	}
})

// get all education entries
const educationEntries = await getCollection("experiences", ({ data }) => {
	return data.is_education === true && data.is_draft !== true
})

educationEntries.sort((a, b) => {
	// Just sort by start date (most recent first), should be enough
	return b.data.start_date.getTime() - a.data.start_date.getTime()
})
---

<Layout title={pageTitle}>
	<section class="print:mt-0">
		<h1 class="">Goulven CLEC'H</h1>
		<p>
			I am a {getMyAge()} years old <i>software engineer</i> with extensive experience
			in <i>Elixir</i>,
			<i>Rust</i>, and <i>TypeScript</i> ecosystems, mainly in startups and open source
			environments.
		</p>
		<p>
			Interested in <i>functional programming</i> and <i
				>software craftsmanship</i
			>, I aim to deliver maintainable, performant, and useful software. Working
			remotely for {getRemoteWorkYears()} years, I'm capable of owning projects end-to-end,
			from product design to infrastructure management, while collaborating effectively
			with cross-functional teams.
		</p>
		<p>
			Based in Toulouse, France, I'm also passionate about game development,
			hiking in forests, visiting cute villages, kayaking in rivers, and
			drinking specialty coffees.
		</p>
		<p class="print:hidden">
			<ReturnHome /> -
			<PrintButton /> -
			<a href="mailto:goulven.clech@protonmail.com">Contact me</a>
		</p>
		<p class="hidden print:block">
			Contact me at <a href="mailto:goulven.clech@protonmail.com"
				>goulven.clech@protonmail.com</a
			>
		</p>
	</section>
	<section>
		<h2 class="mb-2.5" id="last_entries">Experiences</h2>
		{
			experiencesEntries.map((experience) => (
				<ResumeCard experience={experience} />
			))
		}
	</section>
	<section>
		<h2 class="mb-2.5" id="education">Education</h2>
		{educationEntries.map((education) => <ResumeCard experience={education} />)}
	</section>
	<style is:global></style>
	<section id="language">
		<h2>Languages</h2>
		<ul>
			<li>
				<strong>French:</strong> Native.
			</li>
			<li>
				<strong>English:</strong> Professional proficiency (C1).
			</li>
			<li>
				<strong>Finnish:</strong> Basic skills (A1), actively learning.
			</li>
		</ul>
	</section>
	<style is:global>
		@reference "$assets/base.css";

		#language ul {
			@apply my-5 list-none indent-0 sm:indent-[-30.58px];
		}

		#language li {
			@apply my-5;
		}

		#language li::before {
			content: "☞";
			@apply mr-2;
		}

		.resume-card p {
			@apply my-1;
		}
	</style>
</Layout>
