---
import { formatDate } from "src/utils"
import Block from "./blocks/Block.astro"
import type { CollectionEntry } from "astro:content"
/**
 * Used to present an entry as a card, also a link to that entry.
 * ⚠️ Duplication of src/components/Card.js ⚠️
 * Sadly, Astro can't SSR web components yet. So Card.js is used in the CSR
 * search.astro script. And this component is used for SSR, for example to
 * render the default results (before the script is loaded or if JS is disabled).
 * @param {any} entry - What an exciting entry we want to show?
 * @param {GetImageResult} image - If the image was already fetched, use it.
 */
interface Props {
	entry: CollectionEntry<"blog">
	image?: string
}

const { entry, image } = Astro.props
---

<Block image={image || entry.data.image} to={`/${entry.id}`}>
	<h3 class="my-0 leading-relaxed">
		{entry.data.title}
	</h3>
	<span
		class="mt-0 line-clamp-4 text-ellipsis py-0 sm:line-clamp-3"
		set:html={entry.data.abstract +
			` —<span class="whitespace-nowrap"> ${formatDate(entry.data.date)}</span></span>`}
	/>
</Block>
