---
import { inject } from "@vercel/analytics"
/**
 * Base of our html. Mainly html head & some global styles.
 * @param {string} title - What is this page about?
 */
interface Props {
  title: string
  description?: string
  img?: string
}

const {
  title,
  img,
  description = "I'm Goulven Clec'h, a web developer based in Toulouse, France. Welcome to my personal blog!",
} = Astro.props

// Vercel analytics
inject()
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Goulven Clec'h" />
    <meta name="description" content={description} />
    {img && <meta property="og:image" content={img} />}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script src="https://kit.fontawesome.com/3977585fab.js" crossorigin="anonymous" defer></script>
    <script defer src="/_vercel/insights/script.js"></script>
    <title>{title} | Goulven Clec'h</title>
  </head>
  <body
    class="text bg-body-light font-sans text-[15px] text-base-light dark:bg-body-dark dark:text-base-dark md:text-[17px]"
  >
    <slot />
  </body>
</html>
<style is:global>
  p {
    @apply mb-6 leading-[1.75];
  }
  /* Iosevka Etoile font */
  @font-face {
    font-family: "Iosevka Aile";
    src: url("/fonts/iosevka-aile-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Iosevka Aile";
    src: url("/fonts/iosevka-aile-italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Iosevka Aile";
    src: url("/fonts/iosevka-aile-bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Iosevka Aile";
    src: url("/fonts/iosevka-aile-bolditalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
</style>
