---
/**
 * Base of our html. Mainly html headers.
 * @param {string} title - What is this page about?
 */
interface Props {
  title: string
  description?: string
  img?: string
}

const {
  title,
  img,
  description = "I'm Goulven Clec'h, a web developer based in Toulouse, France. Welcome to my personal blog!",
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Goulven Clec'h" />
    <meta name="description" content={description} />
    {img && <meta property="og:image" content={img} />}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script src="https://kit.fontawesome.com/3977585fab.js" crossorigin="anonymous" defer></script>
    <script src="/_vercel/insights/script.js" defer></script>
    <title>{title} | Goulven Clec'h</title>
  </head>
  <body>
    <slot />
  </body>
</html>
